.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 5%;
    text-align: center;
  
  }
  
  .grid-container > button {
    text-align: center;
    font-size: 30px;
    background-color: #ff0000;
    width: 150px;
    height:150px;
 
    
  }
  
  
  
 
      
  
  .body{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    align-content: stretch;
  }
  
  section{
    margin:13%;
  }
  
  footer {
    text-align: center;
      display: grid;
      margin:3%;
  }
  
  header {
    text-align: center;
      margin:3%;

  }